@model FretesWebApplication.Models.Veiculo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Veiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Denominacao" class="control-label"></label>
                <input asp-for="Denominacao" class="form-control" />
                <span asp-validation-for="Denominacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoVeiculo" class="control-label"></label>
                <input asp-for="TipoVeiculo" type="number" step="0.01" class="form-control" /> 
                <span asp-validation-for="TipoVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PesoVeiculo" class="control-label"></label>
                <input asp-for="PesoVeiculo" class="form-control" />
                <span asp-validation-for="PesoVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
